<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>products.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <display-name>products</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductServletA</display-name>
    <servlet-name>ProductServletA</servlet-name>
    <servlet-class>products.ProductServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServletA</servlet-name>
    <url-pattern>/ProductServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServlet</display-name>
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>supplier.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/SupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>client.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeServlet</display-name>
    <servlet-name>TimeServlet</servlet-name>
    <servlet-class>time.TimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeServlet</servlet-name>
    <url-pattern>/TimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimedServlet</display-name>
    <servlet-name>TimedServlet</servlet-name>
    <servlet-class>time.TimedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimedServlet</servlet-name>
    <url-pattern>/TimedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockDetailServlet</display-name>
    <servlet-name>StockDetailServlet</servlet-name>
    <servlet-class>products.StockDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockDetailServlet</servlet-name>
    <url-pattern>/StockDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
</web-app>